In [3]:
import pandas as pd

df = pd.read_csv('runs.csv')

df.describe()

       batch_size      epochs          lr  num_layers    mse_list
count  926.000000  926.000000  926.000000  926.000000  926.000000
mean   116.522678  292.224622    0.000049    3.066955   92.419484
std     62.404115  122.954693    0.000041    0.827793   46.577392
min     50.000000  150.000000    0.000008    2.000000   12.203377
25%     50.000000  150.000000    0.000010    2.000000   54.230996
50%    100.000000  300.000000    0.000075    3.000000   91.173883
75%    200.000000  450.000000    0.000100    4.000000  125.482910
max    200.000000  450.000000    0.000100    4.000000  190.745049

In [10]:
df = df.loc[:,['batch_size', 'batchnorm', 'epochs',
       'layers', 'lr', 'num_layers', 'relu', 'sensor', 'mse_list']]
df.sort_values('mse_list').head(20)

,batch_size,batchnorm,epochs,layers,lr,num_layers,relu,sensor,mse_list
0,200,False,450,64_64_128_,0.000100,4,True,lidar,12.203377
1,200,True,450,64_64_128_,0.000100,4,False,lidar,12.645511
2,200,False,450,64_64_128_,0.000100,4,False,lidar,12.829557
3,100,False,450,64_64_128_,0.000100,4,True,lidar,13.277998
4,100,True,450,64_64_128_,0.000100,4,False,lidar,13.330657
5,200,True,450,64_64_128_,0.000100,4,True,lidar,14.066407
6,100,True,450,64_64_128_,0.000075,4,False,lidar,14.513058
7,100,False,450,64_64_128_,0.000075,4,False,lidar,14.887499
8,100,True,450,64_64_128_,0.000100,4,True,lidar,15.040322
9,50,False,450,64_64_128_,0.000100,4,True,lidar,15.071266
10,100,False,450,64_64_128_,0.000100,4,False,lidar,15.315346
11,100,False,450,64_64_128_,0.000075,4,True,lidar,15.634117
12,50,True,450,64_64_128_,0.000100,4,True,lidar,15.825402
13,50,True,450,64_64_128_,0.000100,4,False,lidar,15.870268
14,100,True,300,64_64_128_,0.000100,4,False,lidar,16.073615
15,50,False,450,64_64_128_,0.000100,4,False,lidar,16.096731
16,100,True,450,64_64_128_,0.000075,4,True,lidar,16.206106
17,200,True,450,64_64_128_,0.000075,4,True,lidar,16.220032
18,100,False,300,64_64_128_,0.000100,4,False,lidar,16.390802
19,50,False,300,64_64_128_,0.000100,4,False,lidar,16.404995